<h1>Testing</h1>


<!--<div>-->
  <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad cum deserunt dolor doloremque illo incidunt ipsum-->
    <!--maiores, molestias odio optio perferendis placeat provident, quod quos similique sit totam ut?</p>-->
<!--</div>-->


<!--<app-test (childName)="message = $event" [alias]="value" ><h3>this is {{this.name}} and-->
  <!--{{this.message}} </h3>-->
  <!--<h1>AAAAAAA</h1>-->
<!--</app-test>-->
<!--<p #text (click)="onClick(text)">some text</p>-->
<!--<h2 class="forH2">App Component</h2>-->
<!--<ul>-->
  <!--<li *ngFor="let l of Lang;trackBy:trackByFn"> {{l}} : {{trackByFn(l.length)}}</li>-->
<!--</ul>-->


<!--<div>-->
  <!--<p appHighlight [appHighlight]="'green'">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt explicabo libero, molestiae-->
    <!--necessitatibus officiis quod repellat sunt voluptas! Blanditiis cum cumque dolorum ipsam laboriosam modi nam nulla-->
    <!--possimus, rem tenetur.</p>-->


<!--</div>-->


<!--<h1>My First Attribute Directive</h1>-->

<!--<h4>Pick a highlight color</h4>-->
<!--<div>-->
  <!--<input type="radio" name="colors" (click)="color='lightgreen'">Green-->
  <!--<input type="radio" name="colors" (click)="color='yellow'">Yellow-->
  <!--<input type="radio" name="colors" (click)="color='cyan'">Cyan-->
<!--</div>-->
<!--<p [appHighlight]="color">Highlight me!</p>-->
<!--<p [appHighlight]="color" defaultColor="violet">-->
  <!--Highlight me too!-->
<!--</p>-->
<!--<button (click)="color='pink'">Pink</button>-->
<!--<p [appHighlight]="color" >testing</p>-->

<!--<ng-template [ngIf]="Users">-->
  <!--<div class="name">{{Users}}</div>-->
<!--</ng-template>-->


<!--<div>-->
  <!--<ul>-->
    <!--<li *ngFor="let user of Users" >-->
      <!--{{user.firstName}}-->
    <!--</li>-->
  <!--</ul>-->
<!--</div>-->

<!--<app-test></app-test>-->


<!--<input #input value="Message">-->
<!--<button (click)="popup.showAsComponent(input.value)">Show as component</button>-->
<!--<button (click)="popup.showAsElement(input.value)">Show as element</button>-->


<!--<h2>{{user.firstName | reverseStr}}</h2>-->
<!--<h2>{{user.lastName | reverseStr}}</h2>-->

<!--<h3 [appColor]="'green'"> some text sdsgsdg</h3>-->


<!--<p [style.color]="randomColor" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aliquid at aut commodi dolore, dolorem doloremque earum ex fugiat iusto laboriosam minima nemo nisi nulla officia quae sunt suscipit veniam!</p>-->
<!--<button (click)="getColor()">Change Color</button>-->


<!--<app-second>-->

<!--</app-second>-->
<!--<input type="text" #myInput value="aaaaa">-->

<!--<app-reactive></app-reactive>-->
<!--<app-hero-form>-->

<!--</app-hero-form>-->
<!--<app-first></app-first>-->
<!--<app-observable></app-observable>-->
<ng-template #template>

</ng-template>

<ng-template  #template1></ng-template>
<app-service-example></app-service-example>

<ul>
  <li *ngFor="let user of users">FirstName : {{user.firstName  }}   |  LastName: {{user.lastName}}</li>
</ul>

