<!--<ng-content></ng-content>-->
<!--<button (click)="fire()">child</button>-->


<!--<div class="text">-->
  <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos non, nostrum! A, accusamus alias aliquid amet aperiam asperiores consequuntur dolorem facilis laudantium libero nam pariatur porro repudiandae sunt unde voluptates!</p>-->
<!--</div>-->



<!--<h2 class="forH2">Test Component</h2>-->


<!--<p appHighlight>This is TEST component</p>-->
<!--<h3>This is INPUT : {{parent}}</h3>-->
